/* Custom Avatar for the Navbar */
.avatar {
    max-width: 4em;
    margin-right: 20px;
}

/* Content Styling */
h1 {    
    font-size: 4em;
}

.handwritten {
    font-family: 'Permanent Marker', cursive;
}

body {
    /* Background downloaded for free from https://www.transparenttextures.com/  */
    background: url("./diagmonds.png");
    background-color: white;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px; 
}

/* Footer styling */
footer {
    background-color: white;
    height: 50px;
    border-top: 10px solid teal;
}