/* Custom Avatar for the Navbar */
.avatar {
    max-width: 4em;
    margin-right: 20px;
}

/* Content Styling */
h1 {    
    font-size: 4em;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.2em;
}

.handwritten {
    font-family: 'Permanent Marker', cursive;
}

body {
    /* Background downloaded for free from https://www.transparenttextures.com/  */
    background: url("./diagmonds.png");
    background-color: white;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px; 
}

/* Footer styling */
footer {
    background-color: white;
    height: 50px;
    border-top: 10px solid teal;
}

/* Media queries */
@media (max-width: 992px) { 
    h1 {    
        padding-top: 10px;
        text-align: center;
    }

    figure {
        padding-bottom: 10px;
    }
}